<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="D:\home\site\wwwroot\TuckShop-django-project;D:\home\site\wwwroot\site-packages" />
        <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
        <add key="DJANGO_SETTINGS_MODULE" value="TuckShop-django-project.settings.development" /> <!-- this will need to be changed to settings.production once the production file is properly configured -->
    </appSettings>
    <system.webServer>
          <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="c:\python36-32\python.exe|c:\python36-32\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script"/>
          </handlers>
    </system.webServer>
</configuration>