html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

nav.nav-1{
    background-color:SteelBlue;
    border-bottom-style:solid;
    border-color:#ED1C24;
    border-width:3px;
    z-index:1020

}

.main-content{
    overflow:hidden;
    position:fixed !important;
    right:0;
    left:0;
    z-index:1000
}

.fix-content{
    overflow:hidden;
    position:fixed !important;
}


.push-back{
    z-index:800
}


div.scroll-frame{
    margin:4px,0px,4px, 0px;
    padding:4px;
    width: 100%;
    max-height: calc(100vh - 203px);
    max-height: calc(var(--vh, 1vh) * 100 - 203px);
}

div.scroll{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    text-align:justify;
}

.landing-wrapper {
    height: 100%;
}

.landing {
    height: 100%;
    width: 100%;
    position: fixed;
}

.custom-footer{
  bottom: 0px;
  background-color: red;

}

.spacer{
    width: 100%;
    height: 70px;
}

fixed{
    overflow:hidden;
    position: fixed;
}

.borderless td, .borderless th {
    border: none;
}



.modal-backdrop {
    z-index:1010 !important;
    display: none;
}

.modal-dialog {
    margin: 2px auto;
    z-index: 1040 !important;
    pointer-events: all;
}

