<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/table.css' %}" rel="stylesheet">


  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
    <h1>{{today.date}}</h1>
</head>
<body>
  <div class="align-items-center">
    <table class="base-table">
      <th>ID Number</th>
      <th>Reference Code</th>
      <th>Name</th>
      <th>Item, Quantity</th>
      {% for object in morning_tea %}
        <tr>
          <td class="user-column full-border text">{{object.user}}</td>
          <td class="full-border text">{{object.ref_code}}</td>
          <td class="name-column full-border text">{{object.user.first_name}} {{object.user.last_name}}</td>
          <td class="item-quantity-column full-border">
            <table class="item-quantity-table">
              {% for item in object.items.all %}
                <tr>
                    <td class="item-column text">{{item.item}}</td>
                    <td class="quantity-column text">{{item.quantity}}</td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>