{% extends "base.html" %}
{% block head_title %}My Account{% endblock %}


{% block content %}

<main>
    <div class="ml-5 mr-5">
        <div>
            <a class='btn btn-primary mb-3 float-md-right float-lg-right' href='/'>Continue shopping</a>
            <h1 class="text-wrap">User: {{user.user}}</h1>
        </div>
        <h2 class="mt-5">Order History</h2>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm table-condensed">
                <thead>
                    <th scope="col">Date</th>
    <!--                <th scope="col">Reference Code</th>-->
                    <th scope="col">Order</th>
                    <th scope="col">Total</th>
                    <th scope="col">Repeat Order</th>
                </thead>
                <tbody>
                        {% for object in orders %}
                          <tr>
                              <td class="">{{object.pickup_date}} <br> {{object.get_break_choice_display}}</td>

                              <td class="">
                                    <table class="borderless mr-25" style="table-layout: auto ;width: 100%;">
                                        <h7 class="">
                                            <strong>
                                                Reference Code: {{object.ref_code}}
                                            </strong>
                                        </h7>
                                        {% for element in object.items.all %}
                                        <tr class="borderless">
                                            <td class="text-break">{{element.title}}</td>
                                            <td style="padding-right:10px;float:right;">${{element.item.price}}</td>
                                            <td style="width:10px">x{{element.quantity}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                              <td class="">${{object.order_total}}</td>
                              <td>
                                  <a href="{{ object.get_add_order_to_cart_url }}" class="text-primary btn-link">Add Order To Cart</a>
                              </td>


                          </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

    </script>
</main>

{% endblock content %}