{% extends "base.html" %}
{% block head_title %}Sacred Heart Tuck Shop{% endblock %}
{% block navcontent %}

{% endblock %}

<!-- navbar is in here-->
{% block content %}
  <main>

    <div class="main-content main-div">
          <div class="container">
            {% include "menubar.html" %}
          </div>
      <!-- Select Option Modal -->
          <div class="container">
            <div id="OptionModal" class = "mt-3 my-modal modal fade" style="position:absolute;-webkit-animation-name: animatetop;z-index:2000">
              <div class="modal-lg modal-dialog option-content">
                  {% include 'snippets/option_modal.html' %}
              </div>
            </div>
          </div>
      <div class="border-top border-bottom">
        <div class="scroll-frame scroll wow fadeIn">
          <!--Section: Products v.3-->
          <section class="text-center mb-1 container">

            <div class="row">

              {% for object in object_list %}

              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

                <div class="card h-100">

                  <div class="view overlay">
                    <img src="{{ object.image.url }}" class="card-img-top">
                  </div>

                  <div class="card-body align-items-center">
                    <div class="mb-1">
                      <h5 class="row" style="height:50px">
                        <strong class="text-break text-left col-sm">
                          {{ object.title }}
                        </strong>
                      </h5>
                      <div class="row text-nowrap no-gutters">
                        <div class="col-7">
                          <h5 class="grey-text text-nowrap text-left">
                            {{ object.get_category_display }}
                          </h5>
                        </div>
                        <div class="col-5">
                          <h5>
                            <strong class="font-weight-bold text-nowrap blue-text text-right float-right">
                              {% if object.discount_price %}
                              ${{ object.discount_price }}
                              {% else %}
                              ${{ object.price }}
                              {% endif %}
                            </strong>
                          </h5>
                        </div>
                      </div>
                    </div>
                    <strong>
                      {% if not object.not_available %}
                        {% if not object.variations_exist %}
                          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md btn-block my-0 p waves-effect waves-light">Add to Cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                          </a>
                        {% else %}
                          <button data-target="#OptionModal" class="btn btn-primary btn-md btn-block my-0 p waves-effect waves-light open-OptionModal" data-object="{{ object.title }}" data-slug="{{ object.slug }}">Select Option </button>
                        {% endif %}
                      {% else %}
                        <a class="btn btn-md btn-block" style="background-color:#cccccc">Not Available</a>
                      {% endif %}
                    </strong>

                  </div>

                </div>

              </div>
              {% endfor %}
            </div>

          </section>
          <!--Section: Products v.3-->

        </div>
      </div>

    </div>
    <!-- Select Option Modal -->
    <!-- Here we create this empty div for inserting modal -->
    </div>
  </main>


  <!--Pagination-->
  <footer>
      <nav class="d-flex align-items-center justify-content-center fadeIn fixed-bottom bg-white border-top" style="height:50px">
          {% if is_paginated %}
          <ul class="pagination pg-blue m-auto">

            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}

            <li class="page-item active">
              <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                <span class="sr-only">(current)</span>
              </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
      </nav>

    </footer>
{% endblock content %}
