{% load custom_tags %}
<!--Menubar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mb-4 h6">

      <!-- Navbar brand -->
      <span class="navbar-brand">Categories:</span>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% is_active request 'core:all' %}">
            <a class="nav-link" href="/">All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {% is_active request 'core:hot-food' %}">
            <a class="nav-link" href="/hot-food">Hot Food</a>
          </li>
          <li class="nav-item {% is_active request 'core:cold-food' %}">
            <a class="nav-link" href="/cold-food">Cold Food</a>
          </li>
          <li class="nav-item {% is_active request 'core:snacks' %}">
            <a class="nav-link" href="/snacks">Snacks</a>
          </li>
          <li class="nav-item {% is_active request 'core:frozen' %}">
            <a class="nav-link" href="/frozen">Frozen</a>
          </li>
          <li class="nav-item {% is_active request 'core:drinks' %}">
            <a class="nav-link" href="/drinks">Drinks</a>
          </li>

        </ul>
        <!-- Links -->

        <form class="form-inline" method="GET" action="{% url 'core:search' %}">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Menubar-->