{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>

<!-- Modal data refresh function -->
<script type="text/javascript">
    //window resize to fix ios address bar issue

    // First we get the viewport height and we multiply it by 1% to get a value for a vh unit


    window.onresize = function() {
    document.body.height = window.innerHeight;
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);
    }
    window.onresize();

    // We listen to the resize event
    window.addEventListener('resize', () => {
      // We execute the same script as before
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });

  $(document).on('click','.open-OptionModal',function(){
    let slug = $(this).data('slug');
    let object = $(this).data('object');
    update_variations(slug)


    $(".modal-body #object").text(object);
    $(".modal-body #slug").text(slug);
    $('#OptionModal').modal('show');

  });
  function update_variations(slug){
        $('.option-content').html('').load(
        "{% url 'core:update-variations' %}?slug=" +slug
        );
        }

function AjaxUpdateQuantity(quantity_url) {
    $.ajax({
        url: quantity_url,
        success: function(response) {alert(response);},
        error: function() {alert("Couldn't remove item");}
    })
 };



</script>

