{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class=" container">
        <h1 class="">User: {{user.user}}</h1>
        <h1 class="">Current Balance: ${{user.balance}}</h1>
        <form method="POST" class="card-body">
            {% csrf_token %}
            <h5>Top Up Amount</h5>
                <input value = {{form.balance}}>
            <button class="btn btn-primary" type="submit">Top Up</button>
        </form>
    </div>
</main>

{% endblock content %}

